<div class="jumbotron">
  <h1 class="display-1"><%= t('Seja Bem vindo!') %></h1>
  <p class="lead">Este é o CryptoWallet, uma aplicação para você cadastrar e acompanhar as suas cripto moedas.</p>
  <hr class="my-4">
  <p>Para começar, selecione uma das opções abaixo:</p>

  <%= render "menu" %>
</div>
