<h1>Seja bem Vindo!</h1>

<p> <strong>Data:</strong> <%= data_br(Date.today) %> </p>

<p>Você está em um ambiente de <strong><%=ambiente_rails%></strong> </p>

<ul>
    <li>
    <%= link_to "Cadastro de Moedas", coins_path %>
    </li>
</ul>

